/*Default*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabBook.otf)
		format('opentype');
	font-weight: 400;	
}
/*Light Weight*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabLight.otf)
		format('opentype');
	font-weight: 300;
}
/*Medium Weight*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabMedium.otf)
		format('opentype');
	font-weight: 500;
}
/*Bold Weight*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabBold.otf)
		format('opentype');
	font-weight: 600;
}
/*Book Weight Italic*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabBookIt.otf)
		format('opentype');
	font-style: italic;
	font-weight: 400;
}
/*Light Weight Italic*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabLightIt.otf)
		format('opentype');
	font-weight: 300;
	font-style: italic;
}
/*Medium Weight Italic*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabMediumIt.otf)
		format('opentype');
	font-weight: 500;
	font-style: italic;
}
/*Bold Weight*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabBoldIt.otf)
		format('opentype');
	font-weight: 600;
	font-style: italic;
}
#i {
	width: auto;
	height: 105px;
	line-height: 120px;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 15px;
	float: left;
	margin-right: 0px;
	background-color: #00aa32;
	color: #eaeaea;
	font-weight: 600;
}
/*#i:hover {
	background-image: url(face2.jpg);
	color: transparent;
}*/
#sch {
	width: 300px;
	float: left;
	margin-right: 0px;
	height: 105px;
	line-height: 120px;
	padding: 10px;
	color: #434343;
}

#name {
	width: 500px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'KlinicSlab';
	font-size: 95pt;
	font-weight: 400;
	font-style: italic;
}

#cs {
	width: 460px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'KlinicSlab';
	font-size: 65pt;
	font-weight: 400;
	font-style: italic;
	color: #434343;
}

#centered {
	width: 620px;
	height: 350px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#descrip {
	font-family: 'KlinicSlab';
	font-size: 22pt; 
	font-weight: 300;
	color: #434343;
	width: auto;
	float: left;
	text-align: center;
}

.em {
	font-weight: 400;
	color: #00aa32;
	font-style: italic;
}

.fa fa-github-square {
	width: 100px;
	height: 100px;
}

#github {
	width: 100px;
	height: 100px;
}
body {
	background: #eaeaea;
}



