/*Default*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabBook.otf)
		format('opentype');
}
/*Light Weight*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabLight.otf)
		format('opentype');
	font-weight: lighter;
}
/*Medium Weight*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabMedium.otf)
		format('opentype');
	font-weight: medium;
}
/*Bold Weight*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabBold.otf)
		format('opentype');
	font-weight: bold;
}
/*Book Weight Italic*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabBookIt.otf)
		format('opentype');
	font-style: italic;
}
/*Light Weight Italic*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabLightIt.otf)
		format('opentype');
	font-weight: lighter;
	font-style: italic;
}
/*Medium Weight Italic*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabMediumIt.otf)
		format('opentype');
	font-weight: medium;
	font-style: italic;
}
/*Bold Weight*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabBoldIt.otf)
		format('opentype');
	font-weight: bold;
	font-style: italic;
}
#i {
	width: auto;
	height: 105px;
	line-height: 120px;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 15px;
	float: left;
	margin-right: 0px;
	background-color: #00aa32;
	color: #ffffff;
}
#sch {
	width: 300px;
	float: left;
	margin-right: 0px;
	height: 105px;
	line-height: 120px;
	padding: 10px;
	color: #434343;
}

#ims {
	font-family: 'KlinicSlab';
	font-size: 95pt;
	font-weight: bold;
	font-style: italic;
	width: 520px;
	height: 200px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}