/*Default*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabBook.otf)
		format('opentype');
}
/*Light Weight*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabLight.otf)
		format('opentype');
	font-weight: lighter;
}
/*Medium Weight*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabMedium.otf)
		format('opentype');
	font-weight: medium;
}
/*Bold Weight*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabBold.otf)
		format('opentype');
	font-weight: bold;
}
/*Book Weight Italic*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabBookIt.otf)
		format('opentype');
	font-style: italic;
}
/*Light Weight Italic*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabLightIt.otf)
		format('opentype');
	font-weight: lighter;
	font-style: italic;
}
/*Medium Weight Italic*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabMediumIt.otf)
		format('opentype');
	font-weight: medium;
	font-style: italic;
}
/*Bold Weight*/
@font-face {
	font-family: 'KlinicSlab';
	src: 
		url(Klinic/KlinicSlab_Personal_License/KlinicSlabBoldIt.otf)
		format('opentype');
	font-weight: bold;
	font-style: italic;
}

#lr {
	font-family: 'KlinicSlab', sans-serif;
	font-weight: lighter;
}
#li {
	font-family: 'KlinicSlab', sans-serif;
	font-weight: lighter;
	font-style: italic;
}
#bkr {
	font-family: 'KlinicSlab', sans-serif;
}
#bki {
	font-family: 'KlinicSlab', sans-serif;
	font-style: italic;
}
#mr {
	font-family: 'KlinicSlab', sans-serif;
	font-weight: medium;
}
#mi {
	font-family: 'KlinicSlab', sans-serif;
	font-weight: medium;
	font-style: italic;
}
#bdr {
	font-family: 'KlinicSlab', sans-serif;
	font-weight: bold;
}
#bdi {
	font-family: 'KlinicSlab', sans-serif;
	font-weight: bold;
	font-style: italic;
}